
#Configuration
/.htaccess
/package-lock.json
/res/run
/tools/node_modules/
/tools/package-lock.json
/output/
/node_modules/
/config_europe.json
/config.json
/run/
/pifo.sh
/input/
/coverage/
/docs/
/res/test/
/res/verif/
/pifo_old/
/old/
/build